@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.nav_content {
    background-color: #F9F9F9;
    height: 92px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #3298F2;
}

.wrapper {
    display: flex;
    width: 100%;
    max-width: 1720px;
    margin: 0 auto;
    align-items: center;
}

nav {
    display: flex;
    column-gap: 35px;
    flex-grow: 1;
    margin-left: 102px;
}

.nav_item a {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #292929;
    text-decoration: none;
}

.nav_button {
    width: 309px;
}
.nav_button button{
    width: 100%;
    border: 2px solid #3298F2;
    box-sizing: border-box;
    border-radius: 6px;
    font-weight: bold;
    color: #3298F2;
    height: 60px;
    background-color: #ffffff;

}

.firs-screen {
    padding: 93px 101px 93px 245px;
    display: flex;
    justify-content: space-between;
}
.first-screen-left{
    width: 45%;
}
.first-screen-left h3{
    font-weight: 900;
    font-size: 19px;
    line-height: 23px;
    text-transform: uppercase;
    color: #ff9638;
}
.first-screen-left h1{
    font-weight: 900;
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    color: #292929;
}
.first-screen-left h1 span{
    color: #3298F2;
}
.first-screen-text{
    margin-top: 60px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #333333;
}
.first-screen-text p:last-child{
    font-weight: bold;
    margin-top: 40px;
}
.first-screen-text button{
    width: 382px;
    height: 61px;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    border-radius: 5px;
    background-color: #ff9638;
    color: #292929;
    border: none;
    margin-top: 120px;
}
.first-screen-right{
    width: 45%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.first-screen-right img{
    width: 100%;
}

.play_button_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 152px;
    height: 152px;
    border: 1px solid #ff9638;
    border-radius: 50%;
}
.play_button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96px;
    height: 96px;
    border: 1px solid #ff9638;
    border-radius: 50%;
}
.play_button_item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 82px;
    height: 82px;
    border: 3px solid #ff9638;
    border-radius: 50%;
    background-color: silver;
}