*{
    margin: 0;
}
.sizing{
    box-sizing: border-box;
}
.border {
    border: solid 1px;
}
.wrap {
    width: 100%;
    background: azure;
    height: 600px;
}
.a {
    width: 100%;
    height: 200px;
}

.content {
    display: flex;
}
.bcdefg{
    width: 70%;
    height: 400px;
}
.h{
    width: 30%;
    height: 400px;
}
.bcd{
    width: 100%;
    height: 200px;
    display: flex;
}
.b{
    width: 33.3%;
    height: 200px;
}
.c{
    width: 33.3%;
    height: 200px;
}
.d{
    width: 33.4%;
    height: 200px;
}
.efg{
    width: 100%;
    height: 200px;
    display: flex;
}
.e{
    width: 33.3%;
    height: 200px;
}
.f{
    width: 33.3%;
    height: 200px;
}
.g{
    width: 33.4%;
    height: 200px;
}